<?xml version="1.0"?>
<history>
  <!-- nginx objects -->
  <register>
    <object oid="/agent/nginx" access="read_create" type="none"/>
    <object oid="/agent/nginx/status" access="read_write" type="integer"/>
    <object oid="/agent/nginx/cmd_prefix" access="read_write" type="string"/>
    <object oid="/agent/nginx/config_path" access="read_only" type="string"/>
    <object oid="/agent/nginx/error_log" access="read_write" type="integer"/>
    <object oid="/agent/nginx/error_log/path" access="read_only"
            type="string"/>

    <object oid="/agent/nginx/worker" access="read_only" type="none"/>
    <object oid="/agent/nginx/worker/processes" access="read_write"
            type="integer"/>
    <object oid="/agent/nginx/worker/cpu_affinity" access="read_only"
            type="none"/>
    <object oid="/agent/nginx/worker/cpu_affinity/mode" access="read_write"
            type="integer"/>
    <object oid="/agent/nginx/worker/cpu_affinity/mask" access="read_write"
            type="string"/>
    <object oid="/agent/nginx/worker/rlimit_nofile" access="read_write"
            type="integer"/>

    <object oid="/agent/nginx/events" access="read_only" type="none"/>
    <object oid="/agent/nginx/events/worker_connections" access="read_write"
            type="integer"/>
    <object oid="/agent/nginx/events/method" access="read_write"
            type="string"/>
    <object oid="/agent/nginx/events/multi_accept" access="read_write"
            type="integer"/>
    <object oid="/agent/nginx/events/accept_mutex" access="read_write"
            type="integer"/>

    <object oid="/agent/nginx/http" access="read_only" type="none"/>
    <object oid="/agent/nginx/http/server" access="read_create" type="none"/>
    <object oid="/agent/nginx/http/server/access_log" access="read_write"
            type="integer"/>
    <object oid="/agent/nginx/http/server/access_log/path" access="read_only"
            type="string"/>

    <object oid="/agent/nginx/http/server/listen" access="read_create"
            type="string"/>
    <object oid="/agent/nginx/http/server/listen/reuseport" access="read_write"
            type="integer"/>
    <object oid="/agent/nginx/http/server/listen/ssl" access="read_write"
            type="integer"/>

    <object oid="/agent/nginx/http/server/hostname" access="read_write"
            type="string"/>
    <object oid="/agent/nginx/http/server/mime_type" access="read_only"
            type="none"/>
    <object oid="/agent/nginx/http/server/mime_type/default"
            access="read_write" type="string"/>

    <object oid="/agent/nginx/http/server/proxy" access="read_only"
            type="none"/>
    <object oid="/agent/nginx/http/server/proxy/connect_timeout"
            access="read_write" type="integer"/>
    <object oid="/agent/nginx/http/server/proxy/buffering"
            access="read_write" type="integer"/>
    <object oid="/agent/nginx/http/server/proxy/buffering/num"
            access="read_write" type="integer"/>
    <object oid="/agent/nginx/http/server/proxy/buffering/def_size"
            access="read_write" type="integer"/>
    <object oid="/agent/nginx/http/server/proxy/buffering/init_size"
            access="read_write" type="integer"/>

    <object oid="/agent/nginx/http/server/open_file_cache"
            access="read_write" type="integer"/>
    <object oid="/agent/nginx/http/server/open_file_cache/max"
            access="read_write" type="integer"/>
    <object oid="/agent/nginx/http/server/open_file_cache/inactive"
            access="read_write" type="integer"/>
    <object oid="/agent/nginx/http/server/open_file_cache/valid"
            access="read_write" type="integer"/>
    <object oid="/agent/nginx/http/server/open_file_cache/errors"
            access="read_write" type="integer"/>

    <object oid="/agent/nginx/http/server/client" access="read_only"
            type="none"/>
    <object oid="/agent/nginx/http/server/client/body_timeout"
            access="read_write" type="integer"/>
    <object oid="/agent/nginx/http/server/client/max_body_size"
            access="read_write" type="integer"/>
    <object oid="/agent/nginx/http/server/client/header_timeout"
            access="read_write" type="integer"/>
    <object oid="/agent/nginx/http/server/client/header_buffer_size"
            access="read_write" type="integer"/>

    <object oid="/agent/nginx/http/server/client/large_header_buffer"
            access="read_only" type="none"/>
    <object oid="/agent/nginx/http/server/client/large_header_buffer/num"
            access="read_write" type="integer"/>
    <object oid="/agent/nginx/http/server/client/large_header_buffer/size"
            access="read_write" type="integer"/>

    <object oid="/agent/nginx/http/server/client/proxy_request_buffering"
            access="read_write" type="integer"/>

    <object oid="/agent/nginx/http/server/sendfile" access="read_write"
            type="integer"/>
    <object oid="/agent/nginx/http/server/tcp_nopush" access="read_write"
            type="integer"/>
    <object oid="/agent/nginx/http/server/tcp_nodelay" access="read_write"
            type="integer"/>
    <object oid="/agent/nginx/http/server/send_timeout" access="read_write"
            type="integer"/>
    <object oid="/agent/nginx/http/server/reset_timedout_connection"
            access="read_write" type="integer"/>

    <object oid="/agent/nginx/http/server/keepalive_timeout"
            access="read_write" type="integer"/>
    <object oid="/agent/nginx/http/server/keepalive_requests"
            access="read_write" type="integer"/>

    <object oid="/agent/nginx/http/server/tokens" access="read_write"
            type="integer"/>
    <object oid="/agent/nginx/http/server/ssl_name"
            access="read_write" type="string"/>

    <object oid="/agent/nginx/http/server/location" access="read_create"
            type="none"/>
    <object oid="/agent/nginx/http/server/location/uri" access="read_write"
            type="string"/>
    <object oid="/agent/nginx/http/server/location/return" access="read_write"
            type="string"/>
    <object oid="/agent/nginx/http/server/location/index" access="read_write"
            type="string"/>
    <object oid="/agent/nginx/http/server/location/root" access="read_write"
            type="string"/>
    <object oid="/agent/nginx/http/server/location/ssl_name"
            access="read_write" type="string"/>

    <object oid="/agent/nginx/http/server/location/proxy" access="read_only"
            type="none"/>
    <object oid="/agent/nginx/http/server/location/proxy/ssl_name"
            access="read_write" type="string"/>
    <object oid="/agent/nginx/http/server/location/proxy/pass_url"
            access="read_write" type="string"/>
    <object oid="/agent/nginx/http/server/location/proxy/http_version"
            access="read_write" type="string"/>
    <object oid="/agent/nginx/http/server/location/proxy/set_header"
            access="read_create" type="string"/>
    <object oid="/agent/nginx/http/server/location/proxy/set_header/value"
            access="read_write" type="string"/>

    <object oid="/agent/nginx/http/upstream" access="read_create" type="none"/>
    <object oid="/agent/nginx/http/upstream/server" access="read_create"
            type="string"/>
    <object oid="/agent/nginx/http/upstream/server/weight" access="read_write"
            type="integer"/>
    <object oid="/agent/nginx/http/upstream/keepalive" access="read_write"
            type="integer"/>

    <object oid="/agent/nginx/ssl" access="read_create" type="none"/>
    <object oid="/agent/nginx/ssl/cert" access="read_write"
            type="string"/>
    <object oid="/agent/nginx/ssl/key" access="read_write"
            type="string"/>
    <object oid="/agent/nginx/ssl/ciphers" access="read_write"
            type="string"/>
    <object oid="/agent/nginx/ssl/protocols" access="read_write"
            type="string"/>
    <object oid="/agent/nginx/ssl/session" access="read_only"
            type="none"/>
    <object oid="/agent/nginx/ssl/session/cache" access="read_write"
            type="string"/>
    <object oid="/agent/nginx/ssl/session/timeout"
            access="read_write" type="integer"/>
  </register>
</history>
