<div entityname="@@%s:entity@@" username="@@%s:user@@">
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr>
    <td class="@@%s:row_class@@">
        <table border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td width="50" class="level">@@%s:level@@</td>
            <td width="100" class="entityname">@@%s:entity@@</td>
            <td width="100" class="username">@@%s:user@@</td>
            <td width="150" class="timestamp">@@%s:ts@@</td>
            <td class="log">