<div entityname="@@entity@@" username="@@user@@">
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr>
    <td class="@@row_class@@">
        <table border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td width="100" class="entityname">@@entity@@</td>
            <td width="100" class="username">@@user@@</td>
            <td width="150" class="timestamp">@@ts@@</td>
            <td class="log">