syntax: glob
aclocal.m4
autom4te.cache
configure
auxdir/ar-lib
auxdir/test-driver
TAGS
tags
doc/generated
doxygen.warn
Makefile.in
config.h.in
include/te_config_internal.h.in
lib/agentlib/agentlib_config.h.in
lib/rpcserver/rpc_server_config.h.in
tools/trc/trc_config.h.in
package.h.in
*~
*.pyc
.idea
CMakeLists.txt
cmake-build-*
GTAGS
GRTAGS
GPATH
cscope*
.reviewboardrc
.dir-locals.el
build
cmake
.vscode
