
dnl Specifies parameters for NUT bootable image building.
dnl Moreover the NUT image name is included to the list of NUT images
dnl to be built by "make all" command.
dnl May be called once for each NUT image name. Source location may
dnl be the same for several NUT image names.
dnl
dnl Parameters:
dnl       NUT image name
dnl       source directory (absolute or relative from ${TE_BASE})
dnl       building script (absolute or relative from ${TE_BASE})
dnl       additional parameters to the building script 
dnl       list of Test Agents for TCE gathering
dnl       list of TCE sources
dnl       
dnl TE_NUT([mynut],[/home/me/work/mynut],[/home/me/work/mynut/build.sh],
dnl        [hello world],[Agt_A Agt_B],[a.c b/c.c])



