# rgt_time_filter --
#    Procedure that checks if time value conforms user specified filter.
#
# PARAMETERS:
#    timestamp - Time value to be checked.
#
# RETURNS:
#    In the case when the timestamp passes through user filter
#    it returns "pass" string, otherwise "fail".
#
proc rgt_time_filter { timestamp } {

    return "pass"
}
# end of rgt_time_filter procedure

