<html xmlns="http://www.w3.org/1999/xhtml" lang="en-gb" xml:lang="en-gb" >
<head>
<meta http-equiv="content-language" content="en"/>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="log_style.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<title>
  Logs from @@%s:reporter@@
</title>

</head>
<body>

<script>

function hide_table_row(table_row) {
  // var entries = table_row.getElementsByTagName('td');
  // for (var entry_id = 0 ; entry_id < entries.length; entry_id++) {
  //   console.log('TD=' + entries[entry_id].innerHTML);
  //   entries[entry_id].style.display='none';
  // }
  table_row.style.display='none';
}

function show_table_row(table_row) {
  table_row.style.display='';
  // var entries = table_row.getElementsByTagName('td');
  // for (var entry_id = 0 ; entry_id < entries.length; entry_id++) {
  //   entries[entry_id].style.display='';
  // }
}

function hide_expand_button(from_row, to_row) {
  var expand_row = document.getElementById('log_expand_' + from_row + '_' + to_row);
  hide_table_row(expand_row);
}

function show_expand_button(from_row, to_row) {
  var expand_row = document.getElementById('log_expand_' + from_row + '_' + to_row);
  show_table_row(expand_row);
}

function row_is_visible(row_id) {
  var log_row = document.getElementById('log_row' + row_id);
  return log_row.style.display != 'none';
}

function collapse_row(row_id) {
  var log_row = document.getElementById('log_row' + row_id);
  hide_table_row(log_row);
}

function collapse_range(from_row, to_row) {
  for (var row_id = from_row; row_id <= to_row ; row_id++) {
    collapse_row(row_id);
  }
  show_expand_button(from_row, to_row);
}

function expand_row(row_id) {
  var log_row = document.getElementById('log_row' + row_id);
  show_table_row(log_row);
}

function expand_range(from_row, to_row) {
  hide_expand_button(from_row, to_row);
  for (var row_id = from_row; row_id <= to_row ; row_id++) {
    expand_row(row_id);
  }
}

function toggle_node(node)
{
    if (typeof node == 'string')
        node = document.getElementById(node);
    if (!node)
        return;
    node.style.display = (node.style.display != 'none') ? 'none' : 'block';
}

</script>
