<html>
<head>
<title>Logs from @@%s:reporter@@</title>
<link rel='stylesheet' type='text/css' href='style.css'>

<script src="node_@@%u:depth@@_@@%u:seq@@_log_names.js">
</script>

<script>

function getAllLogs()
{
    if (document.getElementsByTagName)
    {
        return document.getElementsByTagName("div");
    }
    else if (document.getElementsById)
    {
        alert("Extend sources with getElementsById");
    }
    else
    {
        alert("Not supported");
    }
}

function open_filter_window()
{
    window.top.filter_win = window.open(
        "filter_conf.html",
        "parwin",
        "dependent,toolbar=no,menubar=no,status=no," +
        "width=400,height=300,top=0,left=1000,scrollbars=no");
}

function activate_link(name, doc_name)
{
    parent.treeframe.activate_node(name);
    document.location.href=doc_name;
}

var filter_win_reloaded = false;

function refresh_filter_window()
{
    if (typeof(window.top.filter_win) != "undefined")
    {
        // test to see if a window is still open
        if (!(window.top.filter_win.closed))
        {
            filter_win_reloaded = true;
            window.top.filter_win.location.reload();
        }
    }
}

</script>

</head>

<body onLoad='javascript:refresh_filter_window()'>

<table border='0' cellpadding='0' cellspacing='0' width='100%%'>
<tr class='tdheading'>
    <td width='100%%' class='heading' height='25'>
        &nbsp;&nbsp;&nbsp;Logs from @@%s:reporter@@
    </td>
</table>
<br>

<form name='form0'>
    <input type='button' value='Log Filter' 
           onClick='javascript:open_filter_window()'>
</form>
<br/>
