<tr>
  <td valign=top>
    <a href='javascript:change_node(@@%d:depth@@, @@%d:seq@@, 1)'><img src='images/ftv@@%s:result@@2doc.gif' border=0></a>
  </td>
  <td valign=middle nowrap width=100%>
    <a id='n_@@%d:depth@@_@@%d:seq@@' href='javascript:change_node(@@%d:depth@@, @@%d:seq@@, 1)'>@@%s:name@@</a>
  </td></tr>
