<tr>
  <td valign=top>
    <a href='javascript:change_node(@@%d:depth@@, @@%d:seq@@, 0)'><img src='@@%s:shared_url@@images/ftv2folderclosed.gif' border=0></a>
  </td>
  <td valign=middle nowrap width=100%>
    <a class="@@%s:class@@" href='javascript:change_node(@@%d:depth@@, @@%d:seq@@, 0)'>@@%s:name@@</a>
  </td></tr>
