                    <div width="100%" style="background-color:#e5e5e5; margin-bottom: 2px">
                        <a href="javascript:toggle_node('f@@%s:packet_num@@@@%s:name@@')">&#8658;</a>
                        @@%s:showname@@
                        <div width="100%" id="f@@%s:packet_num@@@@%s:name@@" style="display:none">
