<tr name="line@@%u:linum@@" id="log_row@@%u:linum@@" data-nest-lvl = "@@%s:nl@@" data-entity="@@%s:entity@@">
  <td class="col-sm-1 text-right"><span id="log_toggle@@%u:linum@@"></span>  <a href="#line@@%u:linum@@">@@%u:linum@@</a></td>
  <td class="col-sm-1 @@%s:level@@">@@%s:level@@</td>
  <td class="col-sm-1">@@%s:entity@@</td>
  <td class="col-sm-1">@@%s:user@@</td>
  <td class="col-sm-1">@@%s:ts@@</td>
  <td class="col-sm-7">

