<table summary="Test Log" class="table table-bordered table-hover">
<caption>Test Log</caption>

<tr>
  <th class="col-sm-1 text-right">No.</th>
  <th class="col-sm-1">Level</th>
  <th class="col-sm-1">Entity Name</th>
  <th class="col-sm-1">User Name</th>
  <th class="col-sm-1">Timestamp</th>
  <th class="col-sm-7">Log content</th>
</tr>

