<table id="filter_buttons" style="border: none;">
  <tr>
    <td>
      Test Log:
    </td>
    <td>
        <input type="button" class="btn btn-success" value="0" onclick="process_nested_rows(0);"/>
        <input type="button" class="btn btn-success" value="1" onclick="process_nested_rows(1);"/>
        <input type="button" class="btn btn-success" value="2" onclick="process_nested_rows(2);"/>
        <input type="button" class="btn btn-success" value="ALL" onclick="process_nested_rows(-1);"/>
    </td>
  </tr>
</table>
<table id="log_table" summary="Test Log" class="table table-bordered table-hover">
<tr>
  <th class="text-right">+</th>
  <th class="text-right">No.</th>
  <th class="col-sm-1 text-center">Level</th>
  <th class="col-sm-1">Entity Name</th>
  <th class="col-sm-1">User Name</th>
  <th class="col-sm-1">Timestamp</th>
  <th class="col-sm-10">Log content</th>
</tr>

