<table id="filter_buttons" style="border: none;">
  <tr>
    <td>
      Test Log:
    </td>
    <td>
        <input type="button" class="btn btn-success" value="0" onclick="process_nested_rows(0);"/>
        <input type="button" class="btn btn-success" value="1" onclick="process_nested_rows(1);"/>
        <input type="button" class="btn btn-success" value="2" onclick="process_nested_rows(2);"/>
        <input type="button" class="btn btn-success" value="ALL" onclick="process_nested_rows(-1);"/>
    </td>
  </tr>
</table>

