
TE_LIB([ipc rcfapi bsapi])
TE_EL([comm_net_agent comm_net_engine rcfpch rcfunix])
TE_LIB_PARMS([ipc], [--enable-tcp],[-DNEWLINE],[-rdynamic])
TE_APP([rcf builder logger])
TE_APP_PARMS([rcf], [--enable-ltdl-install], [-DDYNAMIC], [-rdynamic], [comm_net_engine])
TE_TOOLS([rgt])
TE_TOOL_PARMS([rgt],[--with-glib],[-DOleg], [-L/home/oleg])

TE_PLATFORM([arm-wrs-vxworks],[],[-I${WIND_BASE}/target/h],
            [-L${WIND_BASE}/target/lib])
TE_PLATFORM([i686-pc-linux-gnu],[--enable-potter],[-I/home/helen/include],
            [-L/home/helen/lib])
TE_TA_TYPE([vxworks], [vxworks], [arm-wrs-vxworks], [], [-DTornado], [-L/home], 
           [comm_net_agent])

TE_TA_TYPE([linux], [linux], [], [], [], [], [rcfpch comm_net_agent])

TE_NUT([lokibin],[/home/helen/temp/loki],[helen])
TE_NUT([primobin],[../../temp/primo],[helen])
