#!/bin/bash -e
# SPDX-License-Identifier: Apache-2.0
# Copyright (C) 2024 OKTET Labs Ltd. All rights reserved.
#
# CGI script to handle error 404 (not found) to generate log files upon
# request.

export TE_INSTALL="@@TE_INSTALL@@"
export SHARED_URL="@@LOGS_SHARED_URL@@"

tools_bin=${TE_INSTALL}/default/bin/"

"${tools_bin}/te-logs-error404.sh" "$@"
